.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
}
.card-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  border-radius: 10px;
  width: 70%;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.appointment-form-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 0px 0px #b5b7c4;
  padding-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #171f46;
  font-weight: bold;
  margin-bottom: 20px;
}
.label-element {
  font-size: 13px;
  font-family: 'Roboto';
  color: #b5b7c4;
  font-weight: bold;
}
.input-element {
  padding: 5px;
  width: 100%;
  border: 1px solid #b5b7c4;
  border-radius: 2px;
  margin-bottom: 10px;
}
.appointment-image {
  height: 200px;
  width: 50%;
  margin-top: 20px;
}
.add-button {
  background-color: #8b5cf6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 70px;
  padding: 10px;
}

.appointment-lists-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.heading-star-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appointment-heading {
  font-size: 20px;
  font-family: 'Roboto';
  color: #171f46;
  font-weight: bold;
}
.stared-button {
  color: #8b5cf6;
  border: 1px solid #8b5cf6;
  padding: 10px;
  border-radius: 8px;
  height: 30px;
  background-color: transparent;
  margin-top: 10px;
}
.filled {
  background-color: #8b5cf6;
  padding: 10px;
  border-radius: 8px;
  height: 30px;
  margin-top: 10px;
  border: none;
}
.comments-lits {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
